<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/trailer.css">
    <link rel="stylesheet" href="/css/moviecard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>ApnaShow</title>
</head>
<body>
    {{>header}}
    {{>sidebar}}
    <div class="right-container">
         
<!--   Carousel     -->
        <div class="carousel">
            <ul class="slides" style="height: 400px;">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
                <div class="slide-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg">
                </div>
                <div class="carousel-controls">
                <label for="img-3" class="prev-slide">
                    <span>&lsaquo;</span>
                </label>
                <label for="img-2" class="next-slide">
                    <span>&rsaquo;</span>
                </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg">
                </div>
                <div class="carousel-controls">
                <label for="img-1" class="prev-slide">
                    <span>&lsaquo;</span>
                </label>
                <label for="img-3" class="next-slide">
                    <span>&rsaquo;</span>
                </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
                <div class="slide-image">
                <img src="https://speakzeasy.files.wordpress.com/2015/05/twa_blogpic_timisoara-4415.jpg">
                </div>
                <div class="carousel-controls">
                <label for="img-2" class="prev-slide">
                    <span>&lsaquo;</span>
                </label>
                <label for="img-1" class="next-slide">
                    <span>&rsaquo;</span>
                </label>
                </div>
            </li>
            <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
            </div>
            </ul>
        </div>
   
      
<!-- Movie section  -->
        <section class="movie-trials">
            <div class="heading-nav">
                <div class="heading">Movies</div>
                <div class="view-all"><p><a href="">View All</a></p></div>
            </div>
            <div class="movies">

                <div class="movie">
                    <div class="movie-img">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg" alt="" />
                    </div>
                    <div class="movie-desc">
                        <p class="moviename">Movie name 1</p>
                        <p class="movielanguage">Hindi</p>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-img">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg" alt="" />
                    </div>
                    <div class="movie-desc">
                        <p class="moviename">Movie name 1</p>
                        <p class="movielanguage">Hindi</p>
                    </div>
                </div>
                 <div class="movie">
                    <div class="movie-img">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg" alt="" />
                    </div>
                    <div class="movie-desc">
                        <p class="moviename">Movie name 1</p>
                        <p class="movielanguage">Hindi</p>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-img">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg" alt="" />
                    </div>
                    <div class="movie-desc">
                        <p class="moviename">Movie name 1</p>
                        <p class="movielanguage">Hindi</p>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-img">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg" alt="" />
                    </div>
                    <div class="movie-desc">
                        <p class="moviename">Movie name 1</p>
                        <p class="movielanguage">Hindi</p>
                    </div>
                </div>                
            </div>
        </section>
    </div>
    <div class="message-{{status}}"></div>
    <script>
        if (document.querySelector('.message-success')) {
            alert("Data store successfully!")
        }
    </script>
    {{!-- <script src="/js/home.js"></script> --}}
</body>
</html>