<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <title>ApnaShow-Login</title>
</head>
<body>
    {{>header}}
    <div id="loginbox">
        <div class="rightbox">
            
        </div>
        <div class="leftbox">
            <h1 style="text-align: center;">Welcome Back!</h1>
            <form action="/">
            <input type="email" name="Email" id="Email" placeholder="Enter Email">
            <input type="password" name="Password" id="Password" placeholder="Enter Password" autocomplete ><br>
            <input type="checkbox" name="Remember" id="Remember" checked>&nbsp; Remember me!<br>
            <div class="btn"><input type="submit" id="submit"></div>
            <div class="a"><a href="#">Forgot Password?</a></div>
            <div class="a"><a href="/signup" >Create Account!</a></div>
            </form>
    </div>
</body>
</html>