<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Movie-Reservation-System">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    <title>ApnaShow</title>
    <link rel="stylesheet" href="/css/seats.css">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body{
        overflow-y: hidden;
        overflow-x: auto;
      }
    </style>
</head>
<body>
    {{>header}}

    <div class="movie-container">
      <label>Selected Movies</label>
      <select id="movie">
        <option value="140" aria-readonly="true" id="selectedMovieName">
        </option>
      </select>

      <label>Selected Date</label>
      <select id="movie">
        <option aria-readonly="true" id="selectedMovieDate">
          <script>
            document.getElementById("selectedMovieDate").innerHTML = localStorage.getItem("movieDate");  
          </script>
        </option>
      </select>

      <label>Selected Time</label>
      <select id="movie">
        <option aria-readonly="true" id="selectedMovieTime">
          <script>
            document.getElementById("selectedMovieTime").innerHTML = localStorage.getItem("movietime");  
          </script>
        </option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>

    <div class="container">
      <div class="screen"></div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
      </div>
    </div>

    <p class="text">
      You have selected <span id="count">0</span> seats for a price of ₹<span
        id="price"
        >0</span
      >
    </p>

    <div class="d-flex justify-content-center mb-4">
      <button type="button" id="payment" disabled class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="" onclick="priceFunc()">
          <script>
            function priceFunc(){
                var x = document.getElementById("price").textContent;
                localStorage.setItem("totalprice",x);  

                document.getElementById("paymentprice").value = x;
            }
          </script>
          Proceed to payment
      </button>
    </div>


  {{!-- Modal --}}
{{!-- {{# if loginsuccess }} --}}
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content text-dark">
                  <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLabel">Payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/pay" method="POST">
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Movie:</label>
                        <label for="recipient-name" class="col-form-label"><h4 id="paymentMovieName">
                          <script>
                            document.getElementById("paymentMovieName").innerHTML = localStorage.getItem("movieName");  
                          </script>
                        </h4></label>
                      </div>
                      <div class="form-group">
                        <label for="recipient-email" class="col-form-label">Timing:</label>
                        <label for="recipient-name" class="col-form-label"><h4 id="paymentMovietime">
                          <script>
                            document.getElementById("paymentMovietime").innerHTML = localStorage.getItem("movietime");  
                          </script>
                        </h4></label>
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Date:</label>
                        <label for="recipient-name" class="col-form-label"><h4 id="paymentMovieDate">
                          <script>
                            document.getElementById("paymentMovieDate").innerHTML = localStorage.getItem("movieDate");  
                          </script>
                        </h4></label>
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Total Price:</label>
                        <input for="paymentprice" name="paymentprice" id="paymentprice" class="col-form-label"></label>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel Transaction</button>
                      {{!-- <button type="button" class="btn btn-primary" onclick="payment('{{userdata.0.Fname}}','{{userdata.0.Lname}}','{{userdata.0.Email}}')">Pay</button> --}}
                      <input type="submit" class="btn btn-primary" value="Pay"> 
                    </div>
                  </form> 
                  </div>
                  
                </div>
              </div>
            </div>
{{!-- {{ else }} --}}
{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">Login required!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  onclick="window.location.href='/login'">Login</button>
      </div>
    </div>
  </div>
</div>
{{/if}} --}}


    
    <script src="/js/seats.js"></script>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
<script data-ad-client="ca-pub-7034219663964995" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
    $('.cinema-seats .seat').on('click', function() {
    $(this).toggleClass('active');
  });
</script>
<script>
    document.getElementById("selectedMovieName").innerHTML = localStorage.getItem("movieName")+"(₹140)";  
</script>
</body>
</html>