<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>ApnaShow</title>
</head>
<body>
    {{>header}}
    <div id="loginbox">
        <div class="rightbox">

         </div>   
         <div class="leftbox">
             <h1 style="text-align: center;">Create an Account!</h1>
             <div class="message-{{status}}">
             </div>
             <form action="/signup" class="register" method="POST">
                 <input type="text" name="Fname" id="Fname" placeholder="First Name" required>
                 <input type="text" name="Lname" id="Lname" placeholder="Last Name" required>
                 <input type="email" name="Email" id="Email" placeholder="Email Address" required>
                 <input type="password" name="Password" id="Password" placeholder="Password" required minlength="8" maxlength="15" autocomplete >
                 <input type="password" name="RePassword" id="RePassword" placeholder="Repeat Password" required minlength="8" maxlength="15" autocomplete ><br>
                 <button class="btn secondary block">
                    <a> Register Account</a>
                </button>
                 <div style="text-align: center;" >
                    <a href="/login"> Already have an account?</a>
                </div><br>
                {{!-- <div style="text-align: center;">
                    <a href="#">Register with Facebook</a>
                </div> --}}
             </form>
         </div>
         {{!-- <script src="/js/base.js"></script> --}}
         <script src="/js/signup.js"></script>
</body>
</html>