<div class="card card-body" >
    <h3>Filter By</h3>
    <form method="GET" action="/movies">
    <div>
        <h5 class="pt-3" data-toggle="collapse" data-target="#genre">Genre <i class="fas fa-arrow-down"></i></h5>
        <div id="genre" class="collapse show">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Horror</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Action</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Drama</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Science Fiction</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Science Comedy</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Animation</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Thriller</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Western</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Romance</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Mystery</label>
            </div>
        </div>
    </div>
    <div>
        <h5 class="pt-3" data-toggle="collapse" data-target="#language">Select Language <i class="fas fa-arrow-down"></i></h5>
        <div id="language" class="collapse show">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">English</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Hindi</label>
            </div>
        </div>
    </div>
    <div class="btn-group d-flex justify-content-center">
            <button class="btn btn-success btn-sm" type="submit">Apply Filter</button>
            <button class="btn btn-primary btn-sm ml-1" type="submit">Reset Filter</button>
    </div>
    </form>
</div>