<header>
        <nav>
            <div class="container menu-bar">
                <div class="main-header">
                    <div class="brand-name"><a href="/"><span style="color: white;">Apna</span> <span class="brand-color">Show</span></a></div>
                    <div class="search-movie">
                        <div class="search-section">
                            <span class="search-img"><i class="fa fa-search" aria-hidden="true"></i></span> 
                            <p><input type="text" name="search-input" placeholder="Search your Movies here..."/></p>
                        </div>
                    </div>
                    <div class="nav-links">
                        <ul>
                          <li><a href="/{{direct}}"><span style="color: white;">{{directname}}</span></a></li>
                            {{!-- <li><i class="fa fa-bars" aria-hidden="true"></i></li> --}}
                            <li>
                                
                                <div class="dropdown">
                                    <a class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                    <div class="dropdown-content">
                                        <a href="#">Profile</a>
                                        <a href="#">Account</a>
                                        <a href="#">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>