


.cinema-seats {
  display: flex;
} 
.cinema-seat.seat {
    cursor: pointer;
}    

.cinema-seat.seat:hover:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 7px;
}
    
    

.cinema-seat.seat.active:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 7px;
    }




  
.left .cinema-row {
    transform: skew(-15deg);
    margin: 0 6px;
  }

.left .cinema-row .seat {
    width: 40px;
    height: 70px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
    margin-bottom: 10px;
    transform: skew(20deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }

.row-2 {
    transform: skew(-13deg);
}
.row-2.seat {
      transform: skew(18deg);
    }
  

.row-3 {
    transform: skew(-12deg);
}
.row-3.seat {
      transform: skew(16deg);
    }

.row-4 {
    transform: skew(-11deg);
}
.row-4.seat {
      transform: skew(14deg);
    }

.row-5 {
    transform: skew(-10deg);
}
.row-5.seat {
      transform: skew(12deg);
    }


.row-6 {
    transform: skew(-9deg);
}
.row-6.seat {
      transform: skew(10deg);
    }
  

.row-7 {
    transform: skew(-8deg);
}
.row-7.seat {
      transform: skew(8deg);
    }
  






.right {
  margin-left: 500px;
  margin-top: -338px;
} 
  .right .cinema-row {
    transform: skew(15deg);
    margin: 0 6px;
  }

  .right .cinema-row .seat {
    width: 40px;
    height: 70px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
    margin-bottom: 10px;
    transform: skew(-8deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }
  
  .row-2 {
    transform: skew(-13deg);
  }
    
  .row-2.seat {
      transform: skew(18deg);
    }
  

  .row-3 {
    transform: skew(-12deg);
  }
    
  .row-3.seat {
      transform: skew(16deg);
    }
  

  .row-4 {
    transform: skew(-11deg);
  }
    
  .row-4.seat {
      transform: skew(14deg);
    }
  

  .row-5 {
    transform: skew(-10deg);
  }
    
  .row-5.seat {
      transform: skew(12deg);
    }
  

  .row-6 {
    transform: skew(-1deg);
  }
    
  .row-6.seat {
      transform: skew(10deg);
    }
  

  .row-7 {
    transform: skew(-8deg);
  }
    
  .row-7.seat {
      transform: skew(8deg);
    }
  